<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shiro Demo</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/jquery.form.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var contextPath = /*[[${#httpServletRequest.contextPath}]]*/'';

        function uploadData() {
            var option = {
                type: "post",
                url: contextPath + "/test/upload",
                success: function (data) {
                    if (data == 1) {
                        alert("上传成功");
                    }
                    else {
                        alert("上传失败");
                    }
                },
                error: function () {
                    alert("出现了一些微小的错误");
                }
            };
            $("#uploadForm").ajaxSubmit(option);
        }

        /*]]>*/
    </script>

</head>
<body style="height:1500px;">

<!--Top-->
<div th:replace="common/head"></div>

<div class="container" style="margin-top:60px;">
    <form id="uploadForm" enctype="multipart/form-data">
        <fieldset>
            <div class="form-group">
                <label for="inputFile">File upload example</label>
                <input type="file" class="form-control-file" id="inputFile" name="testFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Please choose a file</small>
            </div>
            <button type="button" id="btnSubmit" class="btn btn-primary" onclick="uploadData()">提交</button>
        </fieldset>
    </form>
</div>

</body>
</html>